{% extends "_base.html" %}

{% block content %}
    {% if user.is_superuser %}
        <h1>Edit Phone</h1>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="UPDATE">
        </form>
        <h4><a href="{% url 'phone_detail' phone.pk %}">CANCEL</a></h4>
    {% else %}
        {% if phone.is_active %}
            <h1>Edit Phone</h1>
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="UPDATE">
            </form>
            <h4><a href="{% url 'phone_detail' phone.pk %}">CANCEL</a></h4>
        {% endif %}
        {% if not phone.is_active %}
            <h1>Access Denied !! Back to <a href="{% url 'home' %}">home</a> page !!</h1>
        {% endif %}
    {% endif %}
{% endblock content %}
