{% extends "_base.html" %}

{% block title %}
    Phone-Details
{% endblock title %}

{% block content %}
    <div>
        <h2>id: {{ phone.id }}</h2>
        <h2>first_name: {{ phone.first_name }}</h2>
        <h2>last_name: {{ phone.last_name }}</h2>
        <h2>mobile: {{ phone.mobile }}</h2>
        <h2>city: {{ phone.city }}</h2>
        <hr/>
        <h3><a href="">EDIT</a></h3>
        <hr/>
        <h3><a href="">DELETE</a></h3>
        <hr/>
        <h3>Back to <a href="{% url 'phone_list' %}">Phone List</a> !!</h3>

    </div>
{% endblock content %}
